<nav aria-label="breadcrumb">
<div class="row float-left m-2 p-0">
  <div class="m-2 float-left row">
    <div class="border border-secondary rounded-left bg-white text-secondary float-left p-2 col text-nowrap">dir</div>
    <div id="img-dir" class="border border-secondary rounded-right bg-secondary text-white float-left p-2 col">{{dir}}</div>
  </div>
  <div class="m-2 float-left row">
    <div class="border border-secondary rounded-left bg-white text-secondary float-left p-2 col text-nowrap">filename</div>
    <div id="img-name" class="border border-secondary rounded-right bg-secondary text-white float-left p-2 col text-nowrap">{{image.name}}</div>
  </div>
  <div class="m-2 float-left row">
    <div class="border border-secondary rounded-left bg-white text-secondary float-left p-2 col text-nowrap">width</div>
    <div id="img-true-w" class="border border-secondary rounded-right bg-secondary text-white float-left p-2 col text-nowrap">{{image.dim.width}}</div>
  </div>
  <div class="m-2 float-left row">
    <div class="border border-secondary rounded-left bg-white text-secondary float-left p-2 col text-nowrap">height</div>
    <div id="img-true-h" class="border border-secondary rounded-right bg-secondary text-white float-left p-2 col text-nowrap">{{image.dim.height}}</div>
  </div> 
</div>

<div class="btn-toolbar float-right" role="toolbar">
  <div class="btn-group mr-4" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary" id="tb-undo">Undo</button>
    <button type="button" class="btn btn-secondary" id="tb-redo">Redo</button>
    <button type="button" class="btn btn-secondary" id="tb-reset-box">Reset box</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-success" id="tb-save-all">Save All</button>
    <button type="button" class="btn btn-danger" id="tb-discard-all">Discard All</button>
  </div>
  <div class="btn-group ml-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-outline-primary" id="tb-previous">Previous</button>
    <button type="button" class="btn btn-outline-primary" id="tb-next">Next</button>
  </div>
</div>
</nav>


<div class="gallery-view">

  <div class="main-view card" style="position:relative" id="artboard" width="{{canvas.width}}" height="{{canvas.height}}">
    <canvas id="main-layer" width="{{canvas.width}}" height="{{canvas.height}}" style="position:absolute; :0; left:0; z-index:1;">

    </canvas>
    <canvas id="selection-layer" width="{{canvas.width}}" height="{{canvas.height}}" style="position:absolute; top:0; left:0; z-index:2;">

    </canvas>
  </div>

  <div class="side-view card">

    <form action="#" method="POST">
      <!-- Class selection -->
      <div class="form-row">
        <div class="col">
        <input id="data-classname" class="form-control" list="class-list" name="class" value="{{#if currClass.classname}}{{currClass.classname}}{{/if}}">
        <datalist id="class-list">
          <!-- list of class names -->
          {{#each classList}}
          <option value="{{this}}">
          {{/each}}
          <!-- list of class names END -->
        </datalist>
        </div>
        <div class="col">
          <button class="btn btn-primary mb-2" id="set-class-btn" type="button">Set</button>
        </div>
      </div>
      <!-- Class selection END -->
      <!-- list of labels for selected class-->
      {{#with currClass}}
      {{#each labels}}
      <div class="input-group input-group-sm mb-1" name="label-container">
        <div class="input-group-prepend">
          <span class="input-group-text data-label-name" id="inputGroup-sizing-sm" name="data-label-name">{{this.name}}</span>
        </div>
        <input type="text" class="form-control data-label-value" name="data-label-value" aria-describedby="inputGroup-sizing-sm" list="value-list-{{name}}" placeholder="value">
        <datalist name="value-list" id="value-list-{{name}}">
          <!-- list of values for unique id-->
          {{#each this.values}}
          <option value="{{this}}"></option>
          {{/each}}
          <!-- list of values END -->
        </datalist>
      </div>
      {{/each}}
      {{/with}}
    <!-- list of labels END -->
      <button class="btn btn-outline-primary btn-sm mb-1" type="button">+ Label</button>
      <button id="bb-save-btn" class="btn btn-block btn-primary btn-sm mb-1 " type="button">Save current box</button>
      
    <!-- Show current bounding box info -->
      <div>
        <div class="row float-left m-1 p-0">
          <div class="m-1 float-left row">
            <div class="border border-info rounded-left bg-white text-info float-left p-1 col text-nowrap">start X</div>
            <div id="bb-start-x" class="border border-info rounded-right bg-info text-white float-left p-1 col">0</div>
          </div>
          <div class="m-1 float-left row">
            <div class="border border-info rounded-left bg-white text-info float-left p-1 col text-nowrap">start Y</div>
            <div id="bb-start-y" class="border border-info rounded-right bg-info text-white float-left p-1 col text-nowrap">0</div>
          </div>
        </div>
        <div class="row float-left m-1 p-0">
          <div class="m-1 float-left row">
            <div class="border border-info rounded-left bg-white text-info float-left p-1 col text-nowrap">end X</div>
            <div id="bb-end-x" class="border border-info rounded-right bg-info text-white float-left p-1 col">0</div>
          </div>
          <div class="m-1 float-left row">
            <div class="border border-info rounded-left bg-white text-info float-left p-1 col text-nowrap">end Y</div>
            <div id="bb-end-y" class="border border-info rounded-right bg-info text-white float-left p-1 col text-nowrap">0</div>
          </div>
        </div>
        <div class="row float-left m-1 p-0">
          <div class="m-1 float-left row">
            <div class="border border-info rounded-left bg-white text-info float-left p-1 col text-nowrap">width</div>
            <div id="bb-width" class="border border-info rounded-right bg-info text-white float-left p-1 col">0</div>
          </div>
          <div class="m-1 float-left row">
            <div class="border border-info rounded-left bg-white text-info float-left p-1 col text-nowrap">height</div>
            <div id="bb-height" class="border border-info rounded-right bg-info text-white float-left p-1 col text-nowrap">0</div>
          </div>
        </div>
      </div>

    </form>
    
  </div>
</div>
<form action="/gallery/save-all" method="POST">
  <textarea id="json-viewer" name="annotesData" class="container-fluid m-2 p-2" style="overflow-y:auto; height:auto;">
  
  </textarea>
  <input type="submit" id="submit-save-all" class="hidden">
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="/javascripts/canvas-driver.js"></script>
