<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Setup</li>
  </ol>
</nav>

<form id="preConfigForm" method="POST" action="/new">
    <label for="directorySelectInp">Set directory</label>
  <div id="directorySelectInp"class="input-group mb-3">
    <div class="input-group">
      <input name="directoryPath" type="text" class="form-control" aria-describedby="basic-addon3" placeholder="{{dir}}">
      <label for="directoryPath">Enter path</label><br>
    </div>
  </div>
  <div class="input-group mb-3">
       <small class="form-text text-muted">
          The entered directory will be scanned for images. Default is 'public/data/pictures'
      </small>
  </div>

  <div style="width:40%">
    <label for="basic-url" class="form-text">Image Dimension</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="width-span">width</span>
      </div>
      <input type="text" class="form-control integer-med-box" name="imgWidthInput" idaria-describedby="width-span" placeholder="{{imgWidth}}">
      <div class="input-group-prepend">
        <span class="input-group-text" id="height-span">height</span>
      </div>
      <input type="text" class="form-control integer-med-box" name="imgHeightInput" idaria-describedby="height-span" placeholder="{{imgHeight}}">
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="classes-span">Classes</span>
    </div>
    <input type="text" class="form-control" id="classes-input-id" name="classesInput" placeholder="{{classList}}" aria-describedby="classes-span">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

<form id="configForm" method="POST" action="/">

  <!-- Create a list of classes and their labels with default values -->
  <div class="card">
    <ul id="class-ul">
      <!-- new li(s) will be loaded by init_from_config.js -->
      {{#each classkeys}}
      <li class='class-li' name='class-li'>
          <div>
              <span class='class-name'>{{this}}</span>
              <button type='button' onclick='addLabelListItem(this)'>+ Label</button>
              <ul class='label-ul' name='label-ul'>
               
                <li class='label-li' name='label-li'>
                      <input type='text' class='label-name-input' name='label-name-input' placeholder='label name'></input>
                      <input type='text' class='label-value-input' name='label-value-input' placeholder='default values'></input>
                </li>
                
              </ul>
          </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <button type="button" id="nextBtn" class="btn btn-primary" onclick="postConfigData()">Next</button>
  <button type="submit" id="configFormBtn" class="btn btn-primary hidden">Submit</button>

</form>
<script src="/javascripts/init_from_config.js" defer></script>
<script src="/javascripts/index_reader.js" defer></script>