<nav aria-label="breadcrumb" class="mt-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Setup</li>
  </ol>
</nav>

<form id="configForm" method="POST" action="/">
    <label for="directorySelectInp">Set directory</label>
    <div id="directorySelectInp"class="input-group mb-3">
      <div class="input-group">
        <input name="directoryPath" type="text" class="form-control" aria-describedby="basic-addon3" value="{{dir}}">
        <label for="directoryPath">Enter path</label><br>
      </div>
    </div>
    <div class="input-group mb-3">
        <small class="form-text text-muted">
            The entered directory will be scanned for images. Default is 'public/data/pictures'
        </small>
    </div>

    <div style="width:40%">
      <label for="basic-url" class="form-text">Image Dimension</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="width-span">width</span>
        </div>
        <input type="text" class="form-control integer-med-box" name="imgWidthInput" idaria-describedby="width-span" value="{{imgWidth}}">
        <div class="input-group-prepend">
          <span class="input-group-text" id="height-span">height</span>
        </div>
        <input type="text" class="form-control integer-med-box" name="imgHeightInput" idaria-describedby="height-span" value="{{imgHeight}}">
      </div>
    </div>
    <div class="input-group mb-3">
    
    </div>
  <span class="input-group-text" id="classes-span">Classes</span>
  <!-- Create a list of classes and their labels with default values -->
  <div id="classes-container" class="m-2">
    <ul id="class-ul">
      <!-- new li(s) will be loaded by init_from_config.js -->
      {{#each classes}}
      <li class='class-li' name='class-li'>
          <div>
              <input class='class-name' value='{{this.classname}}'></input>
              
              <ul class='label-ul' name='label-ul'>
               {{#each this.labels}}
                <li class='label-li' name='label-li'>
                      <input type='text' class='label-name-input' name='label-name-input' placeholder='label name' value="{{this.name}}"></input>
                      <input type='text' class='label-value-input' name='label-value-input' placeholder='default values' value="{{#each this.values}}{{this}} {{/each}}"></input>
                </li>
                {{/each}}
              </ul>
              <button type='button' onclick='addLabelListItem(this)'>+ Label</button>
          </div>
      </li>
      {{/each}}
    </ul>
    <button type='button' class="btn btn-outline-primary btn-sm" onclick='addClass(this)'>+ class</button>
  </div>
  
  <button type="button" id="nextBtn" class="btn btn-primary" onclick="postConfigData()">Next</button>
  <button type="submit" id="configFormBtn" class="btn btn-primary hidden">Submit</button>

</form>
<script src="/javascripts/init_from_config.js"></script>
<script src="/javascripts/index_reader.js"></script>